<Nav class="nav nav-tabs nav-justified nav-tabs-bottom fixed-bottom" >

    <a class="nav-link" href="/">
        <i class="bi bi-house-door-fill"></i>    
    </a>

    <a class="nav-link" href="/acounting">
        <i class="bi bi-piggy-bank-fill"></i>
    </a>
</Nav>