/* COLOR PALLET */
.color-nes-Slate-Blue {
    background-color: #745cd0;
}

.color-nes-Medium-Purple {
    background-color: #8c75e4;
}

.color-nes-Indigo {
    background-color: #2c1d66;
}

.color-nes-Cyan {
    background-color: #6c9c94;
}

.color-nes-Ash-Gray {
    background-color: #b8c6b4;
}

.color-nes-Dark-Jungle-Green {
    background-color: #1c2424;
}
