@page "/"
@using System.Globalization
@using System.Text.RegularExpressions
@using System.Diagnostics
@using Contabilidad_APP.Components.Models
@using Contabilidad_APP.Components.Models.Util

<h1>Cuentas del Día</h1>

<InputText type="text" @bind-Value="rawAmount" @oninput="FormatCurrency" placeholder="Valor a ingresar" />
<InputText type="text" @bind-Value="description" placeholder="Gasto" />

<button class="btn btn-success" @onclick="AddDebit">+</button>

<h3>Lista de Débitos:</h3>
@if (debits.Any())
{

    <div class="list-group">
        @foreach (var Debit in debits)
        {

            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@Debit.FormattedAmount</h5>
                    <small>@Debit.Date</small>
                </div>
                <p class="mb-1">@Debit.Description</p>
            </a>


        }
    </div>

}

@code {
    private string rawAmount { get; set; } = "";
    private string description { get; set; } = "";

    private List<Debit> debits { get; set; } = new List<Debit>();
    
    private void FormatCurrency(ChangeEventArgs e)
    {
        string input = e.Value?.ToString() ?? "";

        rawAmount = CurrencyFormatter.FormatToCop(input);
    }

    private void AddDebit()
    {
        if (rawAmount != "")
        {
            debits.Add(new Debit(decimal.Parse(rawAmount), DateTime.Now, description));
            cleanForm();
        }
        else
        {
            cleanForm();
        }
    }

    private void cleanForm()
    {
        rawAmount = "";
        description = "";
    }
}
